<div id="friendsChatHeaderToggle" style="position: fixed; right: 15%; bottom: 0%; width: 20%">
  <div class="card">
    <h6 class="card-header" style="cursor: pointer;">Friends</h6>
  </div>
</div>

<div id="friendsChatToggle" style="position: fixed; top: 10%; right: 15%; bottom: 0%; width: 20%">
  <div class="card h-100">
    <h6 class="card-header" style="cursor: pointer;">Friends</h6>
    <div class="card-body overflow-auto">

      <!-- <div class="row align-items-center friendsChat">
        <div class="col text-left">
          <img src="<%= avatarURL %>" style="border-radius: 50%" width="40" height="40"> 
          <div style="display: inline-block; height: 100%;">
            <span style="font-size: 14px">
              <strong class="brandColor"><%= username %></strong>
            </span>
          </div>
        </div>
        <div class="col text-right" style=" vertical-align: middle">
            <i class="fab fa-facebook-messenger" style="font-size: 18px;"></i>
        </div>
      </div> -->
      
      <% for (var i = 0; i < friends.length; i++) { %>
        <div class="row align-items-center friendsChat">
          <div class="col text-left">
            <img src="<%= friends[i].avatarURL %>" style="border-radius: 50%" width="36" height="36"> 
            <span style="font-size: 14px">
              <strong class="brandColor"><%= friends[i].username %></strong>
            </span>
          </div>
          <div class="col text-right" style=" vertical-align: middle">
              <i id="chatTriggerFor<%= friends[i].username %>" class="fab fa-facebook-messenger chatTrigger" style="font-size: 18px;"></i>
          </div>
        </div>
      <% } %> 
    
    </div>
  </div>
</div>


<div id="chatBox1HeaderToggle" style="position: fixed; right: 36%; bottom: 0%; width: 20%; cursor: pointer;">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h6><%= username %></h6>
        </div>
        <div class="col text-right">
            <i class="fas fa-times"></i>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div 
  id="chatBox1Toggle" 
  style=" position: fixed;
          right: 36%; 
          top: 50%; 
          bottom: 0%; 
          width: 20%; 
          z-index: 1;
          font-size: 14px;
          "
  >
  <div id="chatBox1InboxContainer" class="card" style="height: 90%;">
    <div class="card-header" style="cursor: pointer;">
      <div class="row">
        <div class="col">
          <h6><%= username %></h6>
        </div>
        <div class="col text-right">
            <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
    <div id="chatBox1Inboxes" class="overflow-auto" style="vertical-align: bottom;">
      <div class="d-flex flex-row-reverse">
        <div class="text-right senderMessage">
          sender message
        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="text-left receiverMessage">
          receiver message
        </div>
      </div>
    </div>
  </div>
  <!-- <div style="height: 10%; position: absolute; bottom: 0%; width: 100%;">
      <input 
        type="text" 
        placeholder="Enter your message..." 
        style=" width: 100%; 
                height: 100%; 
                border: 1px solid rgba(0,0,0,.125);
                padding-left: 6px;
                padding-right: 6px;
              ">
  </div> -->
  <textarea id="chatBox1TextArea"
  class="h-10p"
  style=" width:100%;
          overflow:auto;
          position: absolute;
          bottom: 0%;
          height: 10%;
          max-height: 30%;
          border: 1px solid rgba(0,0,0,.125);" 
          placeholder="Enter your message..."></textarea>
</div>



