<div class="container sticky-top" style="margin-bottom: 10px">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
      <a class="navbar-brand" href="/">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <img src="/assets/images/logo.png" width="36" height="36" style="vertical-align: middle">
            </div>
            <div class="col" style="margin-left: -27px">
              <span class="brandText">Achilles</span>
            </div>
          </div>
        </div>
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-top: -5px;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div id="chatTab" class="navTab" style="position: relative">
              <a id="chatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-facebook-messenger" style="font-size: 20px; padding-top: 6px;"></i>
                <span id="chatNotiBadge" class="notiBadge" style="display: none"></span>
              </a>
              <div id="chatDropdownMenu" class="dropdown-menu dropdown-menu-right" style="width: 500px" aria-labelledby="chatDropdown">
                <div class="container">
                  <strong style="font-size: 14px">Messages</strong>
                </div>
                <div class="dropdown-divider"></div>
                <div class="container-fluid overflow-auto" id="chatMessagesNotiMenu" style="max-height: 80vh;">
                  <!-- <div class="row align-items-center">
                    <div class="col text-left">
                      <img src="<%= avatarURL %>" style="border-radius: 50%" width="40" height="40"> 
                      <span style="font-size: 14px">
                        <strong class="brandColor"><%= username %></strong>
                      </span>
                    </div>
                    <div class="col text-right" style=" vertical-align: middle">
                      <button class="btn btn-success acceptRequestButton" style="font-size: 12px; height: 0.75cm;">Accept</button>
                      <button class="btn btn-outline-danger ignoreRequestButton" style="font-size: 12px; height: 0.75cm;">Ignore</button>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div id="friendsTab" class="navTab" style="position: relative">
              <a id="friendsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-friends" style="font-size: 20px; padding-top: 6px">
                </i>
                <span id="friendsNotiBadge" class="notiBadge" style="display: none"></span>
              </a>
              <div id="friendsDropdownMenu" class="dropdown-menu dropdown-menu-right" style="width: 500px" aria-labelledby="friendsDropdown">
                <div class="container">
                  <strong style="font-size: 14px">Friend Requests</strong>
                </div>
                <div class="dropdown-divider"></div>
                <div class="container-fluid overflow-auto" id="friendsRequestNotiMenu" style="max-height: 80vh;">
                  <!-- <div class="row align-items-center">
                    <div class="col text-left">
                      <img src="<%= avatarURL %>" style="border-radius: 50%" width="40" height="40"> 
                      <span style="font-size: 14px">
                        <strong class="brandColor"><%= username %></strong>
                      </span>
                    </div>
                    <div class="col text-right" style=" vertical-align: middle">
                      <button class="btn btn-success acceptRequestButton" style="font-size: 12px; height: 0.75cm;">Accept</button>
                      <button class="btn btn-outline-danger ignoreRequestButton" style="font-size: 12px; height: 0.75cm;">Ignore</button>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="navTab PTsans" onclick="window.location.href='/account/profile'">
              <img id='avatarNavTab' src='<%= avatarURL %>' width="30" height="30" style="border-radius: 50%"> <%= username %>
            </div>
          </li>
          <li class="nav-item">
            <div class="btn-group" style="height: 100%">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-cog"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right text-right PTsans" style="letter-spacing: 1px">
                <a class="dropdown-item" href="#">Friends</a>
                <a class="dropdown-item" href="/account/profile">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/user/logout">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
    </nav>
  </div>