<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    <script type="text/javascript" src="/assets/js/dashboard.js"></script>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <%- include('./partials/success-flash.ejs') %>
    </div>

    <div class="container-compatible">
      <div class="card" style="width: 63%">
        <h6 class="card-header">
          People you may know
        </h6>
        <div class="card-body">
          <div id="SuggestCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <%- include('./partials/dashboard-suggestion.ejs') %>
            </div>
            <a class="carousel-control-prev" href="#SuggestCarousel" role="button" data-slide="prev" style="width: 5px;">
                <i class="fas fa-chevron-circle-left brandColor"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#SuggestCarousel" role="button" data-slide="next" style="width: 5px">
                <i class="fas fa-chevron-circle-right brandColor"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div style="position: fixed; top: 10%; right: 15%; bottom: 0%; width: 20%">
      <div class="card h-100">
        <h6 class="card-header">Friends</h6>
        <div class="card-body overflow-auto">

          <!-- <div class="row align-items-center friendsChat">
            <div class="col text-left">
              <img src="<%= avatarURL %>" style="border-radius: 50%" width="40" height="40"> 
              <div style="display: inline-block; height: 100%;">
                <span style="font-size: 14px">
                  <strong class="brandColor"><%= username %></strong>
                </span>
              </div>
            </div>
            <div class="col text-right" style=" vertical-align: middle">
                <i class="fab fa-facebook-messenger" style="font-size: 18px;"></i>
            </div>
          </div> -->

          <%- include('./partials/dashboard-friend.ejs') %>
        
        </div>
      </div>
    </div>
    <div style="width: 1px;">
      a a a a a a a a a a a a a a a a a a a a a a a a 
    </div>

    <%- include('./partials/toasts.ejs') %>

  </body>
</html>